# Environment
.env
energy-forecast-venv/

# Data files
data/

# Model artifacts
models/artifacts/
models/calibration.json
models/artifacts/*.joblib

# Python
__pycache__/
*.pyc
*.pyo
# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

.streamlit/secrets.toml